body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .calculator {
    width: 400px;
    background-color: #dfc6c6;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  #display {
    width: 95%;
    height: 50px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  button {
    padding: 20px;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
  }
  button:hover{
    background-color: #066d0a;
  }
  button:active {
    background-color:black;
  }
  